@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap');

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #ecf0f3;
  font-family: futura-pt,
  sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: #136794;
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}